<body>
    

<div class="container">
    <h1>Request Accepting Page</h1>
    <p>Please review the requests below:</p>
  
    <div *ngFor="let request of records">
      <div class="request">
        <h3>Project Name: {{ request.project_name }}</h3>
        <h3>No Of Units: {{ request.total_number_of_units }}</h3>
        <h3>Location: {{ request.location }}</h3>
        <h3>Type Of Inspection: {{ request.type_of_inspection }}</h3>
        <h3>Schedule From : {{request.schedule_from | date: 'dd/MM/yyyy'}}</h3>
        <h3>Schedule To: {{request.schedule_to | date: 'dd/MM/yyyy'}}</h3>
  
        <div class="buttons">
          <button class="approve-btn" (click)="approveRequest(request.id)">Accept</button>
          <button class="reject-btn" (click)="openRejectDialog(request.id)" >Reject</button>
        </div>
      </div>
    </div>
  
    <p *ngIf="records.length === 0">No more requests</p>
    
  </div>

</body>  




  
