<p>Dear Sir,</p>
<p>Kind Attention:<b> Mr. MADHUBABU</b> </p>
<p>Thank you for your order for the inspection of <b>89 Units</b> at <b> BRIGADE TECH GARDEN - BANGALORE</b></p>
<p>Please note the following:-</p>
<div style="padding-left: 20px;">
<table width="600" height="20" border="1" >
    <tr>
        <td style="padding: 4px;" >PAPL Order Reference</td> <td style="padding: 4px;" colspan="4">PAPL0245/B</td></tr>
        <tr>
        <td style="padding: 4px;" >Customer Order Reference</td>
        <td style="padding: 4px;" colspan="4">8100002249,DATED 09/10/2023</td>
    </tr>
    <tr>
       <td style="padding: 4px;" rowspan="2"> Proposed Inspection Dates</td>  <td style="padding: 4px;" rowspan="1" colspan="2">Inspection Start Date</td>
      <td style="padding: 4px;">27/11/2023(Monday)</td></tr>
      <tr>
      <td style="padding: 4px;">Inspection End Date</td><td style="padding: 4px;" rowspan="1" colspan="2">02/12/2023 (Saturday)</td>
    </tr>
    <tr>
        <td style="padding: 4px;">Total Number of Days</td > <td style="padding: 4px;" colspan="4">	06 Days</td>
    </tr>
    <tr>
        <td style="padding: 4px;" >Inspection Type</td>
        <td style="padding: 4px;" colspan="4">TPT3: CHECKLIST</td>
    </tr>
    <tr>
        <td style="padding: 4px;" >Calibrated instruments carried by us</td>
        <td style="padding: 4px;" colspan="4">Metal Scale, Taper Scale, Measuring Tape</td>
    </tr>
</table>
</div>
<br>
<p ><b> The inspection will be carried out between 9:30 am & 6:00 pm.</b></p>
<p>The Inspection will be conducted by the following personnel (Credentials Attached) and request you kindly process the entry Pass accordingly.</p>
<div style="padding-left: 20px;">
<table border="1">
    <tr>
        <th>SL. NO</th>
        <th>NAME</th>
        <th>DESIGNATION</th>
        <th>MOBILE</th>
        <th>E-MAIL ID</th>
    </tr>
    <tr>
        <td>1.</td>
        <td>M.B.MAHADEVAN</td>
        <td>ASSISTANT MANAGER</td>
        <td>9886312327</td>
        <td>mahadevan.mb@paplcorp.com</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>ABDUL KAFFAR</td>
        <td>ENGINEER</td>
        <td>9790961647</td>
        <td>Abdul.kaffar@paplcorp.com</td>
    </tr>
    <tr>
        <td>3.</td>
        <td>JINO CHAKO</td>
        <td>INSPECTOR</td>
        <td>8086165880</td>
        <td>jino.chacko@paplcorp.com</td>
    </tr>
    
</table>
</div>
<br>
<p>Representatives of OEM/ Service providers at the supervisory level with adequate manpower <b>(One Technical Person per Inspector)</b> and tools as listed below should be made available throughout the inspection for coordination and support.</p>
<p>We need -: </p>
<div style="padding-left: 20px;">
      <p>1. Permission to enter the premises</p>

    <p>2. Permission to travel on Equipment, enter the Pit, Car Top, and Machine Room. OEM/service provider or the building management should not object.</p>

    <p>3. Permission to carry Torch, Measuring tape, and other measuring instruments.</p>

    <p>4. Permission to record measurements and other findings as may be required.</p>

   <p>5. <u><b>Permission to carry a camera </b></u>and photograph the installation including the lobby, Elevator Pit, Elevator Machine fixing arrangements, Car top, floor landing fixtures, and any other space related to the equipment</p>
</div>

   <p>The Following Tools and measuring instruments with <u>Valid Calibration Certificates from NABL Accredited laboratories, traceable to national/international references </u>should be made available by the OEM/Service Provider throughout the inspection.</p>
<div style="padding-left: 20px;">
   <table border="1" width="200" >
    <tr >
       <td style="padding-left: 50px; font-weight: bold;" >TOOLS</td>
    </tr>
    <tr>
        <td style="padding-left: 10px;">HANDLAMP</td>
    </tr>
    <tr>
        <td style="padding-left: 10px;">HAND TOOLS</td>
    </tr>
    <tr>
        <td style="padding-left: 10px;">DOOR OPEN KEYS</td>
    </tr>
</table>
</div>
<br>
<p>
    <b>This inspection shall be independent & impartial,</b> irrespective of any other engagement that PAPL Corp shall have with you. Please refer to our policy <a href="">(https://paplcorp.com/policy.html)</a> on the same for more information.

Please email your feedback/ concerns/ complaints if any on the constitution of the inspector/s or any other issue about our engagement to <a href="">info@paplcorp.com</a> the same shall be addressed on priority. Please refer to our policy on complaints and appeals <a href="">(https://paplcorp.com/policy-04.html)</a></p>
<div >
<p style="font-weight: bolder;">Note:- This is a system-generated email. For any clarification, please contact the PAPL team </p>
</div>