<div style="margin-top: 50px;">
    <mat-card>
        <mat-card-title style="text-align: center;background-image: linear-gradient(125deg, #2c3e50 50%,#000000 50%);">INF List For P&E</mat-card-title>
        <mat-card-content>
          <div class="name-card">
            <span><strong>Contract No </strong></span>
            <span><strong>Action</strong></span> <!-- Add the 'Action' heading here -->
          </div>
          <div *ngFor="let c_no of contract_nos" class="name-card">
            <span>{{ c_no }}</span>
            <button mat-icon-button color="primary" (click)="handleClick(c_no)">
              <mat-icon>touch_app</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    
    </div>
      