<div class="center-container">
  <div class="form-container">
    <h2> Login Registration</h2>
    <form #registrationForm="ngForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="userData.name" required />
      </div>
      
      <div class="form-group">
        <label for="email">Email ID:</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="userData.email"
          required
          pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
        />
        <div *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched" class="error-message">
          <p>Please enter a valid email address.</p>
        </div>
      </div>  
      

      <div class="form-group">
        <label for="password">Password:</label>
        <div class="password-input">
          <input type="{{ passwordVisible1 ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="userData.password" required />
          <i class="fas fa-eye" (click)="togglePasswordVisibility1()"></i>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <div class="password-input">
          <input type="{{ passwordVisible2 ? 'text' : 'password' }}" id="confirm_password" name="confirm_password" [(ngModel)]="userData.confirm_password" required />
          <i class="fas fa-eye" (click)="togglePasswordVisibility2()"></i>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_password">Department:</label>
        <select [(ngModel)]="userData.role" name="role" required>
          <option *ngFor="let role of loginrole" [value]="role">{{ role }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="confirm_password">Login Status:</label>
        <select [(ngModel)]="userData.status" name="loginStatus" required>
          <option *ngFor="let option of loginstatus" [value]="option">{{ option }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
    </form>
    <div *ngIf="formSubmitted" class="success-message">
      <p>{{ Submit_status }}</p>
    </div>
    <div *ngIf="passwordMismatch" class="error-message">
      <p>{{Passwords_status}}</p>
    </div>
  </div>
</div>