<div class="center-container">
    <div class="forgot-password-container">
        <img src="assets\papl_logo.png" alt="Logo" class="header-logo" />
        <h2>Forgot Password</h2>
        <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required #emailInput="ngModel" />
            </div>
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
                Please enter a valid email address.
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Reset Password</button>
            </div>
            <!-- Add the Back to Login button -->
            <div class="form-group">
                <a routerLink="/login" class="back-to-login-link">Back to Login</a>
            </div>
        </form>
    </div>
</div>
