.dialog-content{
    width: 33vw;
    height: 60vh;
}
.check{
    margin-left: 200px;
}
.form-field31{
    width: 10vw;
    margin-top: 30px;
    margin-left: 50px; 

}
.span1{
    margin-left: 10px;
    font-weight: bold;
    font-family: Georgia;
    font-size: large;
    color: black;
}
.span2{
    margin-left: 180px;
    font-weight: bold;
    font-family: Georgia;
    font-size: large;
    color: black;
}
.div1{
    margin-top: 20px;
    width: 100%;
    height: 15%;
}
.h1{
    margin-left: 20px;
}
th {
    text-align: left; /* Align text content to the left */
    margin-left: 10px; /* Apply left margin (adjust the value as needed) */
  }