/* user-management.component.css */

/* Add User Button */
.add-user-button {
    background-color: #299be4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  /* YourComponent.css or styles.css */

td button {
  margin-left: 3px;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2+0px; /* Adjust the border-radius for your desired shape */
}

.container1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
  align-items: center;
  padding: 20px;
}

.user {
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
}





.editbutton {
  background-color: #003f87;
}

.deletebutton {
  background-color: #D2122E;
}

/* Add hover styles for better user feedback */
td button:hover {
  opacity: 0.8;
}

  
  
  .Adduser{
  background-color: #439438;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;border-color: #ffffff;
  
  cursor: pointer;
  }
  //  table color   93B1F6
  .green-row {
  background-color: #DFE8F7; /* Green background */
  color: white; /* White text */
  }
  
  .white-row {
  background-color: white; /* White background */
  color: black; /* Black text */
  }
  
  
  
  /* User Popup */
  .user-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .title{
    color: #353536;
  font-size: 24px;
  margin-bottom: 20px;
  }
  .user-popup h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .user-popup form .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .user-popup form h2 {
    text-align: center;
  }
  
  
  
  .user-popup form {
    width: 400px;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: right; /* Center content horizontally */
  }
  
  
  .user-popup form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .user-popup form input,
  .user-popup form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-popup form button {
    background-color: #0d0f0d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  }
  
  .user-popup form button:hover {
    background-color: #15a1ff;
    transform: scale(1.05);
  }
  
  /* Display Users in a Table */
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    color: #06112d ;
  }
  
  table th {
    background-color:#26384a ;
    color: #ffffff;
  }
  
 /* YourComponent.css or styles.css */

table td button {
  margin-bottom: 6px; /* Add a small margin to create a gap between buttons */
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
}

.editbutton {
  background-color: #003f87;
}

.deletebutton {
  background-color: #D2122E;
}

/* Add hover styles for better user feedback */
table td button:hover {
  opacity: 0.8;
}

  
  
  
  /* Style for the "Update User" button */
  button[type="submit"] {
  background: linear-gradient(to bottom, #299be4, #1976c8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border: none;
  }
  
  /* Style for the "Cancel" button */
  button[type="button"] {
  background: linear-gradient(to bottom, #D2122E, #B11127);
  color: #fff;
  padding: 10px 20px;
  margin-top: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  border: none;
  }
  
  
  
  
  
