<h1 [ngClass]="'title'" class="user">Profile Management</h1>

<button (click)="openUserPopup()" [ngClass]="'Adduser'">Add User</button>
<!-- User Popup for Add and Update -->
<div *ngIf="isUserPopupOpen" class="user-popup">
  
  <form (submit)=" addUser()">
    <h1 [ngClass]="'title'" class="user">Profile Management</h1>

<button (click)="openUserPopup()" [ngClass]="'Adduser'">Add User</button>

<div *ngIf="isUserPopupOpen" class="user-popup">

  <form (ngSubmit)="addUser()" #userForm="ngForm">
    <h2>Profile Register</h2>

    <label for="NAME">Name:</label>

    <input [(ngModel)]="user.NAME" NAME="NAME" required />
    <label for="email_id">Email_id:</label>
    <input [(ngModel)]="user.email_id" NAME="email_id" type="email" required />
    
    
    <label for="PSN_NO">PSN_NO:</label>
    <input [(ngModel)]="user.PSN_NO" NAME="PSN_NO" required />

    <label for="designation">Designation:</label>
    <input [(ngModel)]="user.designation" NAME="designation" required />

    <label for="contact_no">Contact No:</label>
    <input [(ngModel)]="user.contact_no" NAME="contact_no" required />

   <label for="date_of_joining">Date_of_joining:</label>
    <input [(ngModel)]="user.date_of_joining" NAME="date_of_joining" type="date" required />

    <label for="Date_Of_Birth">Date_Of_Birth:</label>
    <input [(ngModel)]="user.date_of_birth" NAME="Date_Of_Birth" type="date" required />

    <label for="Department">Department:</label>
    <input [(ngModel)]="user.dept" NAME="Department" required />
    <button type="submit" [disabled]="!userForm.valid">Add User</button>
    <button type="button" (click)="resetUser(); closeUserPopup()">Cancel</button>
  </form>
</div>

  </form>
</div>

<!-- User Popup for Update Login -->
<div *ngIf="isUserPopupOpen1" class="user-popup">
  <form (submit)="updateUser()" #userForm="ngForm">
    <h2>Update user</h2>
    <label for="NAME">Name:</label>
    <input [(ngModel)]="user.NAME" NAME="NAME" required />
    <label for="email_id">email_id:</label>
    <input [(ngModel)]="user.email_id" NAME="email_id" type="email" required />
    
    <label for="PSN_NO">PSN_NO:</label>
    <input [(ngModel)]="user.PSN_NO" NAME="PSN_NO" required />

    <label for="designation">Designation:</label>
    <input [(ngModel)]="user.designation" NAME="designation" required />

    <label for="contact_no">Contact No:</label>
    <input [(ngModel)]="user.contact_no" NAME="contact_no" required />

   <label for="date_of_joining">Date_of_joining:</label>
    <input [(ngModel)]="user.date_of_joining" NAME="date_of_joining" type="date" required />

    <label for="Date_Of_Birth">Date_Of_Birth:</label>
    <input [(ngModel)]="user.date_of_birth" NAME="Date_Of_Birthdate" type="date" required />

    <label for="Department">Department:</label>
    <input [(ngModel)]="user.dept" NAME="Department" required />
    <button type="submit"[disabled]="!userForm.valid" (click)="update_emp_data()">Update User</button>
    <button type="button" (click)="resetUser(); closeUserPopup1()">Cancel</button>
  </form>
</div>

<!-- Display Users in a Table -->
<table>
  <tr>
    <th>NAME</th>
    <th>Email_id</th>
    <th>PSN_NO</th>
    <th>Designation</th>
    <th>Contact_no</th>
    <th>Date_of_joining</th>
    <th>Date_Of_Birth</th>
    <th>Department</th>
    <th>Action</th>
  </tr>

  <!-- NAME,email_id,PSN_NO,designation,contact_no,date_of_joining,date_of_birth,dept -->
  <tr *ngFor="let user of users; let i = index" [ngClass]="{'green-row': i % 2 === 0, 'white-row': i % 2 !== 0}">
    <td>{{ user.NAME }}</td>
    <td>{{ user.email_id }}</td>
    <td>{{ user.PSN_NO }}</td>
    <td>{{ user.designation }}</td>
    <td>{{ user.contact_no }}</td>
    <td>{{ formatDate(user.date_of_joining)}}</td>
    <td>{{ formatDate(user.date_of_birth) }}</td>
    <td>{{ user.dept }}</td>
    
   
    <td>
      <button (click)="editUser(user.email_id)" [ngClass]="'editbutton'">Edit</button>
      <button (click)="deleteUser(user.email_id, user.email_id)" [ngClass]="'deletebutton'">Delete</button>
    </td>
  </tr>
</table>